<div id="stats">
<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center" >
          <h1 ><b><i class="fa fa-atom"></i>&nbsp;Get Cases By Country</b></h1>
          <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-list"></i> &nbsp;Select Country
            </button>
            <div class="dropdown-menu pre-scrollable dropdown-menu-center" >
              <a class="dropdown-item" (click)="SelectedCountry(country)" *ngFor="let country of countryArray">{{country}}</a>
            </div>
          </div>
          <br/><br/>
          <div *ngIf="country != null">
            <h5 ><i class="fa fa-compass"></i><b>&nbsp;{{country}}</b></h5>
            <p class="lead" *ngIf="deaths || recovered || confirmedCases"><b>Confirmed Cases:&nbsp;</b> <span class ="databeautify">{{confirmedCases}}</span> || <b>Deaths:&nbsp;</b> <span class ="databeautify">{{deaths}}</span> || <b>Recovered:&nbsp;</b> <span class ="databeautify">{{recovered}}</span></p>
            <p class="date" *ngIf="dataDate">Updated: {{dataDate}}</p>
        </div>
        <div *ngIf="country == null">
            <div class="alert alert-primary" role="alert">
                Please select a country from the dropdown menu to check live COVID 19 cases.
              </div>
        </div>
        </div>
        
      </div>
    </div>
  </header>
</div>